name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
eralchemy = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[scripts]
start="flask run -p 8080"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
diagram="python3 diagram.py"